body{
    background:#ddd;
}
.container{
    margin:0 auto;
    max-width:1200px; 
    min-width:800px; 
    
}
.type_list{
    margin-top:10px;
    padding:10px 0;
    background:#fff;
    border-radius:6px;
}
.type_list li{
    float:left;
    margin:0 10px;
}
.type_list li {
    float: left;
}
.type_list li a{
    display:block;
    padding:0 12px;
    line-height:30px;
    font-size:14px;
    font-weight:bold;
    color:#000;
    border-radius:6px;
}
.type_list li a:hover{
    background:#ddd;
}
.type_list li a.active{
    color:#fff;
    background:#000;
}
.info_list{
    margin-top:10px;
    background:#fff;
    border-radius:6px;
}
.info_list .cell{
    padding:10px 0;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
}
.info_list .cell:not(:last-child){
    border-bottom:none;
}
.info_list .cell img{
    float:left;
    margin:0 10px;
    width:48px;
    height:48px;
    border-radius: 4px;
}
.info_list .info_detail{
    float: left;
}
.info_list .info_detail a{
    display:inline-block;
    height:28px;
    line-height:28px;
    font-size:14px;
    color:#666;
}
.info_list .info_detail a:hover{
    color: #222;
    text-decoration: underline;
}
.info_list .info_detail .count{
    line-height:20px;
}
.info_list .info_detail p.title{
    line-height:48px;
}
.zhihu .cell{
    width:25%;
    margin-top:10px;
    text-align:center;
}
@media screen and (max-width:1000px){
    .zhihu .cell{
        width:33.3%;
    }
}
.zhihu .cell a{
    float:left;
    padding:20px 20px 0;
    width:240px;
    text-align: center;
    color:#666;
    font-weight:bold;
    background:#fff;
    border-radius:10px;
}
.zhihu .cell a:hover{
    color:#000;
}
.zhihu .cell img{
    width:200px;
    height:200px;
}
.zhihu .info_detail{
    display:flex;
    align-items:center;
    height:60px;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:left;
    text-indent:2em;
}
.zhihu .info_detail .title{
    line-height:20px;
}